<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>blog后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"></head>
<body>

<table class="layui-table" id="test" >
    <tr>
        <td width="20%">ID</td>
        <td width="20%">{$user.id}</td>
        <td width="20%">avatar</td>
        <td width="40%">{$user.avatar}</td>
    </tr>
    <tr>
        <td width="20%">用户名</td>
        <td width="20%">{$user.username}</td>
        <td width="20%">别名</td>
        <td width="40%">{$user.nickname}</td>
    </tr>
    <tr>
        <td width="20%">邮件</td>
        <td width="20%">{$user.email}</td>
        <td width="20%">创建时间</td>
        <td width="40%">{$user.create_time}</td>
    </tr>
    <tr>
        <td width="20%">更新时间</td>
        <td width="20%">{$user.update_time}</td>

    </tr>


</table>


<script src="/static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>

</script>

</body>
</html>